body {
  background-color: #f5f5f5;
}

.c-repository {
  margin: 15px;
  padding: 10px;
  background-color: white;
  border: 1px #e5e5e5;
  border-style: solid;
  max-width: 800px;
}

.c-repository__row {
  padding: 5px;
  border: #bbbbbb 1px solid;
}

.c-repository__row + .c-repository__row {
  border-top: none;
}

.c-issue {
  display: flex;
  align-items: center;
}

.c-issue div + div {
  margin-left: 5px;
}

.c-issue-icon {
  min-width: 5px;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
}

.c-issue-icon--open {
  background-color: green;
}

.c-issue-icon--closed {
  background-color: red;
}
